.bg {
  background: url("../img/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1800px auto;
  background-position: top center;
  color: white;
  height: 700px; }

.goldkeys-container {
  position: absolute;
  top: 70px;
  width: 100%; }

.goldkeys {
  background-color: rgba(255, 255, 255, 0.85);
  color: #666;
  margin: 0 auto;
  text-align: center;
  width: 300px; }

.goldkeys img {
  height: 100px;
  padding-top: 10px; }

.btn {
  background-color: #d1bc44;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-style: none;
  border-left-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-color: white;
  border-top-style: none;
  border-top-width: 0px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal; }
  .btn:hover {
    color: white; }

.header {
  color: #d1bc44;
  text-align: center;
  line-height: 0px;
  font-weight: 200;
  margin: 0px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .header .heading {
    display: inline-block;
    color: #d1bc44;
    font-size: 50px;
    padding-top: 40px;
    top: 10px; }
  .header .sub-heading {
    display: inline-block;
    font-size: 14px;
    color: black;
    margin: 0;
    padding-top: 40px; }
  .header:hover {
    text-decoration: none; }

a {
  color: black; }

h3 {
  font-size: 25px;
  font-weight: 300;
  color: #333333; }

.small-text {
  color: black;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px; }

.box-footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #9a9a9a;
  border-color: #c8c8c8;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  font-weight: 300;
  height: 30px;
  text-align: center; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
  background-color: white !important; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: none,0 0 0 50px white inset;
  -webkit-text-fill-color: #333; }

input {
  margin: 5px; }

.full-width.alt {
  background-color: #d1bc44;
  color: white;
  width: 100%; }

.page-footer {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300px;
  position: relative;
  width: 100%;
  bottom: 0;
  height: 50px;
  /* This value is the height of your footer */ }

.extrainfo {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px 40px 10px;
  text-align: center; }
  .extrainfo h2 {
    font-weight: 300;
    font-size: 25px; }
  .extrainfo p {
    font-weight: 300;
    font-size: 14px; }

  #messages {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    color: red;
    font-size: 14px; }

.agrotrack-bg{
    background: url("../img/agrotrack_bg.jpg") !important;
    margin-top: 200px;
    background-size: cover !important;
}



.agrotrack-color{
    color: rgb(10, 177, 98) !important;
}

.agrotrack-color-in-bg{
    background: rgb(10, 177, 98) !important;
}

.white-fg{
  color: white !important;
}

.yellow-fg{
  color: #D1BC44 !important;
}

.form-logo {
  margin: 0 20px 0 20px;
}

.input-box {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  width: 80%;
}
.mybody{
  margin: 0 80px 0 80px;
  top: 120px;
}

@media screen and (max-width: 400px){
  .mybody{
  margin: 0 80px 0 20px;

}
}


.nasc-bg{
  background: url("../images/bg_nasc1.png") !important;

  background-size: cover !important;
}

.nba-bg{
  background: url("../images/portal_main_bg.png") !important;

  background-size: cover !important;
}

.v-center {
  margin-top:auto !important;
  margin-bottom: auto !important;
}
